

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
        display: none;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
     
    
}

section .balloonpic {
        
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px black solid;
    background-color: none;
       
}
      
.lavender {
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-areas: 
    "row1   row1    row2    row2    row2"    
    "row1   row1    row3    row3   row3"
    "row4   row4    row4    row4    row4"
    "row5   row5    row5    row5    row5" 
    "row6   row6    row6    row6    row6";


    column-gap: 14px;
    gap: 30px;
    color: white;
    font-size: 28px;
    font-weight: bold;
    padding: 40px;
}

#picture {
    grid-area: "row1"
}

#about {
    grid-area: "row2";
}

#hobbies {
    grid-area: "row3";
}

#contact {
    grid-area: "row4";
}

#employment {
    grid-area: "row5";
}

#education {
    grid-area: "row6";
}

.container div {
    background-color: purple;
    height: 100%;
    padding: 20px;
}



    @media only screen and (min-width: 550px) {
    

    
        
    
    header {
        
        width: 100vw;
        height: 5vh;
        display: flex;
        justify-content: space-between;
        background-color: black;
        color: white;
        font-size: 12px;
        font-weight: bold;
}
   
    .nology {
        background-color: purple;
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 200px;
        height: inherit;
}
    
     nav.links {
         
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
}

     ul {
        height: inherit;
    
}
    
    li {
        display: inline-block;
        height: 100%;
        padding: 20px;
        
}
    
    li a {
        color: white;
        text-decoration: none;
    }
    
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
}